.explorer{
	display: flex;
	flex-flow: row wrap;
	float: left;
	justify-content: flex-start;
	margin: 5rem 8rem;
	width: 80%;
}
.explore-post{
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.125);
	display: flex;
	flex-direction: column;
	flex-grow: 4;
	flex-shrink: 1;
	height: 18rem;
	min-height: 15rem;
	margin: .5rem;
	max-width: 15.8rem;
	min-width: 15.8rem;
	overflow: hidden;
	position: relative;
}
.explore-post:hover{
	cursor: pointer;
}
.explore__post-img{
	background-size: cover;
	background: transparent url('https://static.wixstatic.com/media/d63215_a6ccc92841c74c6d835a02dac366b158~mv2.gif') center no-repeat;
	height: 100%;
	width: 100%;
}
.explore__post-img:hover{
	filter: brightness(70%);
	transition: filter .1s ease-in-out;
}
.explore__textpost{
	height: 100%;
	padding: 1rem;
	text-align: left;
	word-wrap: break-word;
}
.explore__textpost:hover{
	background: rgba(0,0,0,.4);
	height: 100%;
	transition: filter .1s ease-in-out;
}
.mid-loader{
	height: 3rem;
	margin: 3rem;
	position: fixed;
	bottom: 0%;
	right: 45%;
	width: 3rem;
}
.hover-display{
	align-self: center;
	color: white;
	text-shadow: 1px black;
	top: 40%;
	position: absolute;
	z-index: 5;
}
.upvote-icon{
	height: 1.5rem;
	width: 1.2rem;
	z-index: 7;
}
/*.explore-post:nth-child(4n+2){ flex-basis: 34rem; height: 34rem; }*/

@media(max-width: $mobile-breakpoint){
	.explorer{
		width: 100%;
		margin: 0;
	}
	.explore-post{
		width: 8.6rem;
		min-width: 8.6rem;
		min-height: 8rem;
		height: 12rem;
		margin: .1rem;
	}
	.mid-loader{
		right: 30%;
	}
}