.header-main{
	align-items: center;
	background: white;
	border: 2px $gray2 solid;
	display: flex;
	flex-direction: row;
	height: 3.5rem;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	z-index: 10;
}

/*header styles*/
.header-text{
	color: black;
	font-family: 'Grand Hotel', cursive;
	font-size: 2.2rem;
	font-weight: 300;
	margin-left: 12.6%;
	text-decoration: none;
}
.header-btns{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 2rem;
	margin: 0 8rem;
}

/*navigation buttons*/
.btn{
	cursor: pointer;
	height: 1.8rem;
	margin: 0 .6rem;
	width: 1.8rem;
}
.btn-compas{
	height: 1.7rem;
}
.btn-like{
	height: 1.75rem;
}

@media(max-width: $mobile-breakpoint){
	.header-main{
		height: 2.5rem;
		border: none;
	}
	.header-text{
		margin: 0;
		margin-left: 38%;
		font-size: 1.6rem;
	}
	.header-btns{
		display: none;
	}
}