.search-box{
	display: flex;
	flex-direction: row;
	float: left;
	width: 14rem;
	margin-left: 6rem;
}
.search{
	background: $gray1;
	border: 1px $gray2 solid;
	border-radius: 3px;
	color: gray;
	font-size: 1rem;
	height: 2rem;
	outline: none;
	padding: 0 2rem;
	width: 100%;
}
.search::placeholder{
	color: $gray3;
	font-size: 1rem;
	text-align: center;
}
.search:focus::placeholder{
	text-align: left;
}

/* search-icon */
.search-icon{
	align-self: center;
	font-size: .9rem;
	position: relative;
	color: $gray3;
}
.search-icon__placeholder{
	right: 67%;
}
.search-icon__fix{
	right: 88.3%;
}
.search:focus+.search-icon__placeholder{
	right: 88.5%;
}

.search-results{
	display: flex;
	background: white;
	border-bottom: 1px $gray1 solid;
	border-radius: 2px;
	flex-direction: column;
	margin: 3.5rem 0 0 -2rem;
	max-height: 24rem;
	min-height: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	width: 19rem;
	word-wrap: break-word;
	z-index: 6;
}
.searched-sub{
	flex-direction: row;
	overflow-wrap: break-word;
	padding: .6rem;
}
.searched-sub__icon{
	border: none;
	border-radius: 50%;
	float: left;
	height: 2.5rem;
	width: 2.5rem;
}
.searched-sub__name{
	margin: 1rem;
}
.searched-sub__title{
	margin: 0;
	margin-left: 3.3rem;
	padding: 0;
}
.clear-btn{
	border: none;
	color: $gray4;
	cursor: pointer;
	font-size: 1.5rem;
	left: 53.5%;
	padding: 0 .4rem;
	position: absolute;
	top: 23%;
	transform: rotate(45deg);
	transition: all .4s ease;
	z-index: 6;
}
.sm-loader{
	height: 1rem;
	left: 53.8%;
	position: absolute;
	top: 35%;
	width: 1rem;
	z-index: 6;	
}

.searched-sub-container{
	display: flex;
	flex-direction: row;
	border: none;
	border-bottom: 1px $gray2 solid;
	min-height: 4.8rem;
	align-self: center;
	overflow-y: hidden;
	width: 100%;
	justify-content: space-between;
	margin-left: .1rem;
}
.searched-sub-container:hover{
	background: $gray1;
	cursor: pointer;
	transition: background .2s ease;
}

.addbtn{
	position: relative;
	float: right;
	text-align: right;
	background: none;
	height: 2px;
	border: none;
	color: gray;
	margin-top: 1rem;
	cursor: pointer;
	font-size: 2rem;
	outline: none;
}
.addbtn:hover{
	color: blue;
}


@media(max-width: $mobile-breakpoint){
	.search_box-explore{
		width: 100%;
		margin: 0;
	}
	.search_box-home,.search-icon{
		display: none;
	}
	.sm-loader,.clear-btn{
		top: .5%;
		left: 91%;
	}
	.search-results{
		margin: 2.5rem 0 0 3rem;
	}
}