.viewpost{
	display: flex;
	flex-direction: row;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,.2);
	z-index: 11;
	align-items: center;
	justify-content: center;
}

.close__btn{
	position: fixed;
	font-size: 3rem;
	color: white;
	cursor: pointer;
	right: 2%;
	top: -2%;
	transform: rotate(45deg);
}

.viewpost__post{
	background: white;
	width: 35%;
	height: 90%;
	word-wrap: break-word;
	overflow: hidden;
	margin: 2rem 0 2rem 2rem;
}

.viewpost__post> img{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
}

.viewpost__details{
	display: flex;
	flex-direction: column;
	background: white;
	height: 90%;
	width: 30%;
	border-left: 1px gray solid;
	margin: 2rem 2rem 2rem 0;
}

.detail__section{
	min-height: 4rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 2rem;
	border: none;
	border-bottom: .6px $gray2 solid;
}

.cmnt__section{
	overflow-y: scroll;
	overflow-x: wrap;
	text-align: left;
	padding: 1rem;
	margin-bottom: 2rem;
}

.cmnt__section::-webkit-scrollbar{
	width: 0px;
}

.viewpost__textpost{
	display: flex;
	background: white;
	height: 100%;
	padding: 2rem;
	text-align: left;
	flex-direction: column;
	overflow-wrap: break-word;
	text-align: justify;
}

.followbtn{
	background: none;
	cursor: pointer;
	color: $blue;
	margin-left: 1rem;
}

.details__footer{
	border: none;
	border-top: .6px $gray2 solid;
	display: flex;
	background: white;
	height: 3rem;
	width: inherit;
	position: fixed;
	bottom: 5%;
	align-items: center;
	padding-left: 1rem;
}

@media(max-width: $mobile-breakpoint){
	.viewpost__details{
		display: none;
	}
	.viewpost__post{
		margin: 0;
		width: 90%;
		height: 65%;
	}
}