.main-window{
	background: none;
	margin: 1.8rem 0;
}
.win-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border: 1px solid $gray2;
	height: 100vh;
}
.content-box{
	display: flex;
	flex-direction: column;
	margin: 2rem 0;
	width: 50%;
}
.info-box{
	align-self: top;
	background: none;
}

@media(max-width: $mobile-breakpoint){
	.info-box{
		display: none;
	}
	.main-window{
		margin: 0;
	}
	.content-box{
		width: 100%;
	}
	::-webkit-scrollbar {
    	width: 2px;
    }
}