//colors
$gray1: #f2f2f2;
$gray2: #e2e2e2;
$gray3: #b2b2b2;
$gray4: #aaa;
$gray5: #a2a2a2;
$gray6: #999;
$gray7: #929292;
$red: #d9310b;
$blue: #0095f6;
$dark: black;

//sizes
$mobile-breakpoint: 42rem;